@media screen and (max-width: 768px) {
  .video-scroller,
  .side-bar__information-block__background {
    display: none;
  }
  .side-bar {
    width: 52px;
    overflow: hidden;
  }
  .main {
    left: 52px;
    width: calc(100% - 52px);
  }
}
@media screen and (max-width: 425px) {
  .header__search {
    display: none;
  }

  .video {
    width: calc(100% - 16px);
  }
}
