body {
  height: 100vh;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(102, 102, 230);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: rgb(255, 152, 169);
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  z-index: 1000;
}

.header__child {
  display: flex;
  align-items: center;
  flex: 1;
}

.container {
  margin-right: 8px;
  margin-left: 8px;
}

.header__logo {
  font-size: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.header__title {
  font-size: 20px;
  cursor: pointer;
}

.header__search {
  position: relative;
  border-radius: 10px;
  border-color: rgb(182, 179, 179);
}

.header__search-input {
  width: 400px;
  margin-right: 7px;
}

.header__search-input[type="text"] {
  padding: 5px;
}

.header__search-icon {
  position: absolute;
  left: 385px;
  top: 0;
  color: black;
  background-color: rgb(208, 202, 202);
  font-size: 15px;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 2px;
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__search-icon:hover {
  background-color: rgb(233, 220, 220);
}

.header__icon {
  color: rgb(191, 185, 185);
  font-size: 20px;
  cursor: pointer;
}

.header__icon:hover {
  color: grey;
}

.header__menu {
  position: relative;
  justify-content: right;
}

.header__paw-icon {
  color: white;
  background-color: rgb(255, 152, 169);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.header__paw-icon:hover {
  background-color: pink;
}

.header__paw-icon:hover .header__ul {
  display: block;
}

.header__ul {
  display: none;
  padding-left: 2rem;
  list-style-type: none;
  color: black;
  position: absolute;
  right: 0;
  top: 50%;
  border: 1px solid rgb(230, 225, 225);
  border-radius: 3px;
  background-color: white;
  padding: 0;
  width: 110px;
}

.header__li {
  width: 100%;
  border-bottom: 1px solid rgb(230, 225, 225);
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header__li:hover {
  background-color: rgb(233, 220, 220);
}

.header__link__logout {
  color: red;
}

.side-bar {
  position: fixed;
  top: 60px;
  left: 0;
  background-color: rgb(208, 202, 202);
  width: 250px;
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1000;
}

.side-bar__ul {
  margin: 0;
  padding: 0;
}

.side-bar__li {
  list-style-type: none;
}

.side-bar__li:hover {
  background-color: rgb(235, 228, 228);
}

.side-bar__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 8px 8px;
}

.side-bar__title {
  display: flex;
  align-items: center;
}

.side-bar__img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.side-bar__name:hover {
  color: blue;
}

.side-bar__views {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar__circle {
  background-color: red;
  border-radius: 100%;
  height: 6px;
  width: 6px;
}

.blink {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 2, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 2, 0, 1);
  -webkit-animation-duration: 2s;
}

@keyframes blinker {
  from {
    opacity: 1;
    box-shadow: 0px 0px 5px red;
  }
  to {
    opacity: 0.5;
    box-shadow: 0px 0px 0px red;
  }
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
    box-shadow: 0px 0px 5px red;
  }
  to {
    opacity: 0.5;
    box-shadow: 0px 0px 0px red;
  }
}

.side-bar__information-block__background {
  background-color: rgb(208, 202, 202);
  border-top: 2px solid white;
}

.side-bar__information-block {
  background-color: rgb(192, 186, 186);
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 6px;
}

.side-bar__text::selection {
  background-color: rgb(255, 152, 169);
  color: white;
}

.side-bar__icon {
  font-size: 20px;
}

.side-bar__icon:hover {
  color: rgb(25, 90, 211);
}

.main {
  position: relative;
  top: 60px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 60px);
}

.nav-scroller {
  height: 41px;
  overflow-y: hidden;
  margin: 20px 0px;
}

.nav-scroller__items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-scroller__item {
  color: #424242;
  display: flex;
  padding: 0.5rem 1.25rem;
  border-radius: 60px;
  background-color: rgb(208, 202, 202);
  margin: 0px 8px;
}

.nav-scroller__item_active {
  background-color: rgb(255, 152, 169);
}

.nav-scroller__item:not(.nav-scroller__item_active):hover {
  background-color: #f5f5f5;
}

.nav-scroller__item_active:hover {
  background-color: rgb(255, 152, 169);
}

.video-list {
  display: flex;
  flex-wrap: wrap;
}

.video {
  padding: 8px;
  width: calc((100% - 66px) / 3);
}

.video-preview {
  position: relative;
}

.video-preview:hover .video-preview__hover {
  display: flex;
}

.video-preview__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
}
.video-preview__hover-paw {
  cursor: pointer;
}

.video-preview__img {
  width: 100%;
  height: 200px;
  cursor: auto;
}

.video-preview__live {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 0 4px;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.video-preview__viewers {
  color: white;
  background-color: rgba(5, 5, 5, 0.5);
  padding: 0 4px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.video__information {
  display: flex;
  align-items: center;
}

.video__information-inner {
  width: calc(100% - 45px);
}

.video__name-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.video__name:hover {
  color: rgb(50, 122, 232);
}

.user__name {
  font-size: 14px;
  color: grey;
}

.user__name:hover {
  color: rgb(50, 122, 232);
}

.video-scroller {
  position: relative;
  width: 600px;
  height: 350px;
  margin: 40px auto 0 auto;
}

.video-scroller__radio {
  display: none;
}

.video-scroller__card {
  position: absolute;
  width: 600px;
  height: 300px;
  cursor: pointer;
  display: flex;
  background-color: rgb(252, 252, 252);

  -webkit-box-shadow: 17px 17px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 17px 17px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 17px 17px 10px 2px rgba(34, 60, 80, 0.2);
}

.video-scroller__preview {
  height: 100%;
  width: 70%;
}

.video-scroller__preview-img {
  height: 100%;
  width: 100%;
}

.video-scroller__information {
  display: flex;
  width: 200px;
  padding: 8px;
}

.video-scroller__img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.video-scroller__video-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-scroller__video-decription {
  padding: 8px;
  font-size: 14px;
  color: gray;
}
.video-scroller__video-decription::selection {
  background-color: rgb(255, 152, 169);
  color: white;
}

.video-scroller__user-name {
  font-size: 14px;
  color: grey;
}

@keyframes video-scroller__card_animation {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(135%);
  }

  100% {
    transform: scale(100%);
  }
}

/* card1 */
[id="card1"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(1) {
  /* background-color: red; */
  z-index: 5;
  animation: 0.5s ease-in-out video-scroller__card_animation;
  cursor: auto;
}

[id="card1"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(2) {
  right: -100px;
  /* background-color: black; */
  z-index: 4;
  transform: scale(90%);
}

[id="card1"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(3) {
  right: -200px;
  /* background-color: blue; */
  transform: scale(80%);
}

[id="card1"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(4) {
  left: -200px;
  /* background-color: green; */
  transform: scale(80%);
}

[id="card1"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(5) {
  left: -100px;
  /* background-color: yellow; */
  transform: scale(90%);
}

/* card2 */
[id="card2"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(1) {
  left: -100px;
  /* background-color: red; */
  z-index: 4;
  transform: scale(90%);
}

[id="card2"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(2) {
  /* background-color: black; */
  z-index: 5;
  animation: 0.5s ease-in-out video-scroller__card_animation;
  cursor: auto;
}

[id="card2"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(3) {
  right: -100px;
  /* background-color: blue; */
  z-index: 4;
  transform: scale(90%);
}

[id="card2"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(4) {
  right: -200px;
  /* background-color: green; */
  transform: scale(80%);
}

[id="card2"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(5) {
  left: -200px;
  /* background-color: yellow; */
  transform: scale(80%);
}

/* card3 */
[id="card3"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(1) {
  left: -200px;
  /* background-color: red; */
  transform: scale(80%);
}

[id="card3"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(2) {
  left: -100px;
  /* background-color: black; */
  z-index: 4;
  transform: scale(90%);
}

[id="card3"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(3) {
  /* background-color: blue; */
  z-index: 5;
  animation: 0.5s ease-in-out video-scroller__card_animation;
  cursor: auto;
}

[id="card3"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(4) {
  right: -100px;
  /* background-color: green; */
  z-index: 4;
  transform: scale(90%);
}

[id="card3"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(5) {
  right: -200px;
  /* background-color: yellow; */
  transform: scale(80%);
}

/* card4 */
[id="card4"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(1) {
  right: -200px;
  /* background-color: red; */
  transform: scale(80%);
  z-index: 4;
}

[id="card4"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(2) {
  left: -200px;
  /* background-color: black; */
  transform: scale(80%);
}

[id="card4"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(3) {
  left: -100px;
  /* background-color: blue; */
  z-index: 4;
  transform: scale(90%);
}

[id="card4"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(4) {
  /* background-color: green; */
  z-index: 5;
  animation: 0.5s ease-in-out video-scroller__card_animation;
  cursor: auto;
}

[id="card4"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(5) {
  right: -100px;
  /* background-color: yellow; */
  transform: scale(90%);
  z-index: 4;
}

/* card4 */
[id="card5"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(1) {
  right: -100px;
  /* background-color: red; */
  transform: scale(90%);
  z-index: 4;
}

[id="card5"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(2) {
  right: -200px;
  /* background-color: black; */
  transform: scale(80%);
}

[id="card5"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(3) {
  left: -200px;
  /* background-color: blue; */
  transform: scale(80%);
}

[id="card5"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(4) {
  left: -100px;
  /* background-color: green; */
  transform: scale(90%);
}

[id="card5"]:checked
  ~ .video-scroller__card_wrapper
  .video-scroller__card:nth-child(5) {
  /* background-color: yellow; */
  z-index: 5;
  animation: 0.5s ease-in-out video-scroller__card_animation;
  cursor: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  margin-left: 15px;
}